.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    border-radius: 0px;
    background-color: rgba(36, 36, 36, 0.89);
}

.navbar-brand {
    font-size: 35px;
    color: rgb(255, 0, 0);
    padding-left: 25px;
}

.navbar-brand:hover {
    color: rgb(255, 0, 0);
}

.navbar-nav {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-toggler {
    border: 3px solid rgb(255, 255, 255);
}

.icon-bar {
    background-color: white;
}

.main-title {
    margin-top: 40px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 40px;
    font-family: "lucida sans";
    font-weight: bold;
}

li {
    width: 100%;
}

.nav-link:hover {
    width: 100%;
    border: 2px solid rgb(90, 90, 90);
}

.menu-item:hover{
    background-color: rgba(0,0,0,0.9);
    color: rgba(0,0,0,0.4);
}
   
.row{
    margin: 20px;
}
  
.content-box{
    margin: 20px;
    width: auto;
    height: auto;
    color: black;
    background-color: rgba(0,0,0,0.2);
    font-family: "lucida sans";
    padding: 20px;
}
  
.item-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}